<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />

    <add key="connectionString" value="Data Source=DESKTOP-TKM44IJ;Initial Catalog=UFO_Data;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>